// Colores
$primary: #0000ec;
$secundary: #00f3bb;
$bg-gradient: linear-gradient(180deg, rgba(0, 0, 236, 1) 0%, rgba(0, 0, 163, 1) 100%);
$black: #060a24;
$grey: rgba(6, 10, 36, 0.56);
$white: #ffffff;

// Tipografias
$font-primary: "IBM Plex Mono", monospace;
$font-secundary: "IBM Plex Sans", sans-serif;
$font-secundary-bold: "IBM Plex Sans", sans-serif;
$font-size-xs: 1rem;
$font-size-s: 1.1rem;
$font-size-n: 1.5rem;
$font-size-m: 2.3rem;
$font-size-l: 3rem;
$font-size-xl: 3.8rem;
